html {
  scroll-behavior: smooth;
}

body,
ul,
figure {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  height: 63px;
}
header img {
  width: 162px;
}

footer {
  display: flex;
  flex-direction: column;
  color: #FFF;
  background-color: #353535;
  width: 375px;
  height: 186px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0 5px 5px #B9B9B9;
}
form input {
  border: none;
  width: 110px;
  background-color: #EAEAEA;
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
hgroup h1 {
  font-family: Shrikhand, serif;
  font-size: 28px;
  margin-bottom: 10px;
}
hgroup p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #B9B9B9;
  max-width: 250px;
  text-align: center;
  margin-bottom: 30px;
}
hgroup .btn {
  background-color: #9356DC;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 5px 5px #B9B9B9;
}
hgroup .btn:hover {
  background-color: #FF79DA;
}
hgroup .btn:active {
  background-color: #99E2D0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main h2 {
  font-family: Shrikhand, serif;
  font-size: 24px;
  margin-bottom: 20px;
}
main .functioning {
  width: 90%;
  margin-bottom: 30px;
}
main .btn {
  background-color: #9356DC;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 5px 5px #B9B9B9;
}
main .btn .btn:hover {
  background-color: #FF79DA;
}
main .btn .btn:active {
  background-color: #99E2D0;
}
main .btn .btn:focus {
  outline: none;
}
main .btn .btn:active {
  transform: scale(0.98);
}
main .btn .btn:disabled {
  background-color: #B9B9B9;
}
main .btn .btn:disabled:hover {
  background-color: #B9B9B9;
}
main .btn .btn:disabled:active {
  background-color: #B9B9B9;
}
main .btn .btn:disabled:focus {
  outline: none;
}
main .btn .btn:disabled:active {
  transform: scale(0.98);
}
main .restaurants {
  width: 90%;
}
main .restaurant {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px #B9B9B9;
  overflow: hidden;
}
main .restaurant .restaurant:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 10px #B9B9B9;
}
main .restaurant .restaurant img {
  width: 346px;
  height: 231px;
  top: -57px;
  left: -3px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
main .restaurant .restaurant h3 {
  font-family: Shrikhand, serif;
  font-size: 18px;
  margin: 10px;
}
main .restaurant .restaurant p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #B9B9B9;
  margin: 10px;
}
main .restaurant .restaurant .new {
  background-color: #99E2D0;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
}
main .fa-regular.fa-heart {
  color: #9356DC; /* Set the initial color to red */
  position: relative;
  overflow: hidden;
}
main .fa-regular.fa-heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #9356DC; /* Set the background color to red */
  animation: fillHeart 2s infinite; /* Animation to gradually fill the heart */
}

/*# sourceMappingURL=home.css.map */
