// ! ********** VARIABLES ********** //

$serif: Shrikhand, serif;
$sans-serif: Roboto, sans-serif;

$white: #FFF;
$silver: #EAEAEA;
$gray: #B9B9B9;
$black: #000;   
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

// ! ********** MIXINS ********** //


// ! ********** MAIN ********** //

html {
    scroll-behavior: smooth;
}

body,
ul,
figure {
    margin: 0;
}

body {
    font-family: $sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
}

// ! ********** Header ********** //

header {
    display: flex;
    justify-content: center;
    height: 63px;

    img {
        width: 162px;
    }
}

// ! ********** Footer ********** //

footer {
    display: flex;
    flex-direction: column;
    color: $white;
    background-color: #353535;
    width: 375px;
    height: 186px;
    padding: 22px 25px 22px 25px;
    gap: 16px;
}

// ! ********** Media queries ********** //
